body {
  background-image: url(./img/fondo-estrellas.jpg);
  font-family: 'Architects Daughter', cursive;
}

#banner-hero {
  border-color: black;
  border-radius: 1px;
  background-attachment: fixed;
  object-fit: cover;
}

#navbar-hero {
  /*background-image: url(./img/fondo-estrellas.jpg);*/
  background-color: black;
  border-radius: 1px;
  border-color: beige;
}

.vivo-muerto {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}

/*#itemcard {
  max-width: 360px;
  display: block;
  border-style: solid;
  border-color: blue;
  background-color: lavender;
} */

#itemcard:hover {
    box-shadow: 0 0.1rem 0.4rem rgb(255, 255, 255);
}

.img-hero {
    float: right
}